<div class="app-container">
    <div class="dashboard">
      <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
      <main class="content" [class.collapsed]="isCollapsed">
        <header [class.collapsed]="isCollapsed">
          <button class="toggle-btn" (click)="toggleSidebar()">
            <i class="fas" [class.fa-times]="!isCollapsed" [class.fa-bars]="isCollapsed"></i>
          </button>
            <h1>Welcome, {{ userName || 'User'}}!</h1>
          <!-- <h2>Welcome, Student!</h2> -->
          <button class="logout-btn" (click)="logout()">Logout</button>
        </header>
        <router-outlet></router-outlet>
      </main>
    </div>
</div>