<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="profile">
      <i class="fas fa-user-circle"></i>
      <p>Student Profile</p>
    </div>
    <ul>
      <li>
        <a href="#"><i class="fas fa-comments"></i> Communication</a>
      </li>
      <li>
        <a routerLink="/certificate"><i class="fas fa-certificate"></i> Certificate</a>
      </li>
      <li>
        <a href="/classes"><i class="fas fa-chalkboard-teacher"></i> Classes</a>
      </li>
      <li>
        <a href="/quiz"><i class="fas fa-question-circle"></i> Quiz</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-chart-line"></i> Results</a>
      </li>
    </ul>
  </div>
  